---
const { post } = Astro.props;
const { data, render } = post;

const { Content } = await render();

import createSlug from "../lib/createSlug";
---

<section>
  <h1 class="my-2 p-0" transition:name="heading">{data.title}</h1>
  <div class="text-md space-x-2 italic">
    <span transition:name="date">{data.publishDate}</span>
    <span transition:name="author">{data.author}</span>
  </div>
  <div class="space-x-2" transition:name="tags">
    {
      data.tags.map((tag: string) => (
        <a
          href={`/tags/${createSlug(tag)}`}
          class="hover:underline no-underline underline-offset-4 decoration-teal-200 decoration-dashed hover:cursor-pointer text-teal-200"
        >
          #{tag}
        </a>
      ))
    }
  </div>
  <p transition:name="description">{data.description}</p>
</section>
<Content />
